<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IKVM" version="8.1.5717.0" targetFramework="net472" />
  <package id="NLP.Net" version="0.2.0" targetFramework="net472" />
  <package id="NMeCab" version="0.06.4" targetFramework="net472" />
  <package id="Stanford.NLP.CoreNLP" version="4.2.0.0" targetFramework="net472" />
</packages>